@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Aldrich");


.presentation{
        padding: 15px;
       padding-top: 90px;
    display: flex;
    background-color: #5a7be8;
    flex-wrap: wrap;
    color: white;
    font-family: 'Amatic SC';
    align-content: space-around;
    justify-content: space-around;
}

#img_antonio{
        max-width: 300px;
        height: auto;
        background-color: #d4daed;
        /* border: solid 3px rgb(134, 76, 233); */
        margin: auto;
        border-radius: 195px;
        box-shadow: 0px 0px 9px 9px #ffffff;

        animation: floatImage 4s ease-in-out infinite;
}

@media screen and (max-width: 495px) {
        #img_antonio{
               margin-top: 55px;
        
                animation: floatImage 4s ease-in-out infinite;
        }
}

@keyframes floatImage{
        0%{
                transform: translateY(0);
        }

        50%{
                transform: translateY(-2.4rem);
        }

        100%{
                transform: translateY(0);
        }
}

.nom{
        font-size: 5em;
        font-weight: bold;
        margin-bottom: 29px;
        text-align: center;
}



.define{
        padding-top: 5em;
        padding-bottom: 5em;
        margin: auto;
        width: auto;
}

.description{
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        font-family: 'Aldrich';
}

@media screen and (max-width:933px) {
        .nom{
                font-size: 3.5em;
                
        }
}

@media screen and (max-width:706px) {
        .nom{
                font-size: 2.3em;
                
        }
        .description{
                font-size: 1em;
                
        }
}

@media screen and (max-width: 495px) {
        .nom{
                font-size: 2.1em;
                
        }

        /* .description{
                font-size: 0.8em;
                
        } */

        .define{
                padding: 0em;
              
        }
}

@media screen and (max-width: 340px) {
        #img_antonio{
                width: 239px;
        }

}

@media screen and (max-width: 310px) {
        #img_antonio{
                width: 229px;
        }

        .nom{
                font-size: 1.5em;
                
        }

        
}




